<form>
  <div class="form-group">
    <label>Danno Base</label>
    <input type="number" name="baseDamage" value="1"/>
  </div>
  <div class="form-group">
    <label>Successi Extra in Danno</label>
    <input type="number" name="extraToDamage" value="0"/>
  </div>
  <div class="form-group">
    <label><input type="checkbox" name="isMental"/> Danno Mentale</label>
  </div>
</form>